<main class="basic-main">
  {{> main-page/main/main-components/article/article}}
  {{> main-page/main/main-components/product/product}}
  {{> main-page/main/main-components/country-info/country-info}}
</main>