<ul class="product__list" name="render"></ul>
<button class="product__btn-load-more" type="button" aria-label="button load more products">
    <p class="product__btn-load-more-text">Load More</p>
    <svg class="product__btn-load-more-icon">
        <use href="./images/sprite.svg#icon-loading"></use>
    </svg>
</button>
<div class="product__current-product"></div>