.orders-empty-list {
}

.orders-empty-box {
  padding: 40px 20px;

  text-align: center;
  
  background-color: rgba(17, 17, 17, 0.838);
  border-radius: 6px;
}

.orders-empty-title {
  font-size: 34px;
  color: white;
}