{{!-- title --}}
<section class="cart__title">
  <div class="container">
    <div class="cart__title-box">
      <h1 class="cart__title-text">Your Cart</h1>
      <svg class="cart__title-icon">
        <use href="./images/sprite.svg#icon-cart-menu"></use>
      </svg>
    </div>
  </div>
</section>