{{!-- if the person is not logged in --}}
<section class="cart__error">
  <div class="container">
    <div class="cart__error-box">
      <h2 class="cart__error-title">You need to be logged in to view your cart</h2>
      <svg class="cart__error-icon">
        <use href="./images/sprite.svg#icon-empty-cart"></use>
      </svg>
    </div>
  </div>
</section>