<main class="basic-main">

  <section class="article-section">
    <div class="container">

      {{!-- title --}}
      {{> article-page/article-main-components/article-title}}

      {{!-- country INFO LIST --}}
      {{> article-page/article-main-components/article-list}}

    </div>

    <div class="article__current-item"></div>
  </section>

</main>