.product__btn-load-more {
  display: none;

  margin-left: auto;
  margin-right: auto;

  

  width: 109px;
  height: 40px;

  padding: 10px 15px;

  background-color: rgba(17, 17, 17, 0.776);
  border: 1px solid white;
  border-radius: 4px;

  transition: 200ms;

  &:hover,
  &:focus {
    box-shadow: 0px 0px 5px white;
    transform: scale(1.02);
  }
}

.product__btn-load-more-text {
  color: white;
}

.product__btn-load-more-icon {
  display: none;

  margin-left: auto;
  margin-right: auto;

  fill: white;
  width: 18px;
  height: 18px;

  animation-name: status-loading;
  animation-duration: 1200ms;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  animation-direction: normal;
}