<section class="country-info">
  <div class="container">
    
    {{!-- country info title --}}
    {{> main-page/main/main-components/country-info/country-info-components/country-info-title}}

    {{!-- country info list --}}
    {{> main-page/main/main-components/country-info/country-info-components/country-info-list}}

  </div>
</section>