<section class="items">
  <div class="container">
    <ul class="cart__info-list">

      {{!-- processed orders --}}
      {{> cart-page/cart-main/cart-main-components/cart-section-list/list-components/processed-orders}}

      {{!-- accepted orders --}}
      {{> cart-page/cart-main/cart-main-components/cart-section-list/list-components/accepted-orders}}

      {{!-- queue items --}}
      {{> cart-page/cart-main/cart-main-components/cart-section-list/list-components/queue-orders}}
    
    </ul>
  </div>
</section>