{{!-- if person has emty cart --}}
<div class="cart__empty-box">
  <h2 class="cart__empty-text">Your cart is Empty</h2>
  <svg class="cart__empty-icon">
    <use href="./images/sprite.svg#icon-empty-cart"></use>
  </svg>
</div>