{{!-- if person has empty history list --}}
<li class="history__empty-item">
  
    <div class="cart__history-empty-box">
      <h1 class="cart__history-empty-title">History is empty</h1>
      <svg class="cart__history-empty-icon">
        <use href="./images/sprite.svg#icon-empty-cart"></use>
      </svg>
    
  </div>
</li>