<form class="signin__form" id="signin-form" action="/accounts" method="post" aria-label="form sign in">
    
    <div class="signin__label-box">
      <label class="signin__label signin__label--first-child" for="username">
        <b class="signin__text">Login:</b>
        <input class="signin__input" type="text" id="username" name="username" aria-label="write your login" required>
      </label>

      <label class="signin__label" for="password">
        <b class="signin__text">Password:</b>
        <input class="signin__input" type="password" id="password" name="password" aria-label="write your password" required>
      </label>
    </div>

    <button class="regbtn" type="submit" aria-label="button sign in">Sign In</button>
</form>