<form class="signup__form" id="signup-form" action="/accounts" method="post" aria-label="sign up form">
  <label class="signup__label" for="username">
    <b class="signup__label-text">Login:</b>
    <input class="sign__up-input" type="text" id="username" name="username" aria-label="write your username" required>
  </label>
  <label class="signup__label" for="password">
    <b class="signup__label-text" aria-label="write your password">Password:</b>
    <input class="sign__up-input" type="password" id="password" name="password" required>
  </label>
  <label class="signup__label" for="email">
    <b class="signup__label-text">E-mail:</b>
    <input class="sign__up-input" type="email" id="email" name="email" aria-label="write your email" required>
  </label>
  <label class="signup__label" for="name">
    <b class="signup__label-text">Name:</b>
    <input class="sign__up-input" type="text" id="name" name="name" aria-label="write your name" required>
  </label>
  <label class="signup__label" for="surname">
    <b class="signup__label-text">Surname:</b>
    <input class="sign__up-input" type="text" id="surname" name="surname" aria-label="write your surname" required>
  </label>
  <label class="signup__accept-label" for="accept">
    <input class="signup__accept-input" type="checkbox" id="accept" name="accept" aria-label="click the button if you agree with the user agreement" required>
    <p class="signup__accept-text">I agree with <a class="signup__accept-link" href="/">the conditions</a></p>
  </label>
  <button class="regbtn" type="submit" aria-label="button sign up">Sign Up</button>
</form>