<form class="search" method="post" action="/wines">
  <input type="text" placeholder="wine name" name="search" autocomplete="off" aria-label="input search">
  <button type="submit" aria-label="button submit">
    <svg class="search__icon">
      <use href="./images/sprite.svg#icon-search"></use>
    </svg>
  </button>
</form>