<ul class="article__info-list">

  <li class="article__info-item article__info-item--first-child">

    <div class="article__info-box article__info-box--first-child" number="1">
      <p class="article__info-text">Wine Shop</p>
      <svg class="article__info-item-icon">
        <use href="./images/sprite.svg#icon-empty-cart"></use>
      </svg>
    </div>

  </li>

  {{!-- germany articles --}}
  <li class="article__info-item article__info-item--germany">
    <div class="article__info-box article__info-box--germany" number="2">
      <p class="article__info-text">Germany</p>
      <svg class="article__info-item-icon">
        <use href="./images/sprite.svg#icon-germany-flag"></use>
      </svg>
    </div>

    {{!-- germany grape sort list --}}

    <ul class="grape-sort__list grape-sort__list--germany">
      <li class="grape-sort__item grape-sort__item--germany">

        <div class="article__info-box article__info-box--riesling" number="5">
          <p class="article__info-text">Riesling</p>
          <svg class="article__info-item-icon">
            <use href="./images/sprite.svg#icon-grape-article-riesling"></use>
          </svg>
        </div>

      </li>

      <li class="grape-sort__item grape-sort__item--germany">

        <div class="article__info-box article__info-box--pinot-noir" number="6">
          <p class="article__info-text">Pinot Noir</p>
          <svg class="article__info-item-icon">
            <use href="./images/sprite.svg#icon-grape-pinot-noir"></use>
          </svg>
        </div>

      </li>

      <li class="grape-sort__item grape-sort__item--germany">

        <div class="article__info-box article__info-box--gewurztraminer" number="7">
          <p class="article__info-text article__info-text--gewurztraminer">Gewürztraminer</p>
          <svg class="article__info-item-icon">
            <use href="./images/sprite.svg#icon-grape-gewurtrazminer"></use>
          </svg>
        </div>

      </li>
    </ul>

  </li>

  {{!-- italy articles --}}
  <li class="article__info-item article__info-item--italy">
    <div class="article__info-box" number="3">
      <p class="article__info-text">Italy</p>
      <svg class="article__info-item-icon">
        <use href="./images/sprite.svg#icon-italy-flag"></use>
      </svg>
    </div>

    {{!-- italy grape sort list --}}
    <ul class="grape-sort__list grape-sort__list--italy">
      <li class="grape-sort__item grape-sort__item--italy">

        <div class="article__info-box article__info-box--sangiovese" number="8">
          <p class="article__info-text">Sangiovese</p>
          <svg class="article__info-item-icon">
            <use href="./images/sprite.svg#icon-grape-sangiovese"></use>
          </svg>
        </div>

      </li>

      <li class="grape-sort__item grape-sort__item--italy">

        <div class="article__info-box article__info-box--nebbiolo" number="9">
          <p class="article__info-text">Nebbiolo</p>
          <svg class="article__info-item-icon">
            <use href="./images/sprite.svg#icon-grape-nebbiolo"></use>
          </svg>
        </div>

      </li>

      <li class="grape-sort__item grape-sort__item--italy">

        <div class="article__info-box article__info-box--montepulciano" number="10">
          <p class="article__info-text article__info-text--montepulciano">Montepulciano</p>
          <svg class="article__info-item-icon">
            <use href="./images/sprite.svg#icon-grape-montepulciano"></use>
          </svg>
        </div>

      </li>
    </ul>
  </li>

  {{!-- france articles --}}
  <li class="article__info-item article__info-item--france">
    <div class="article__info-box article__info-box--france" number="4">
      <p class="article__info-text">France</p>
      <svg class="article__info-item-icon">
        <use href="./images/sprite.svg#icon-france-flag"></use>
      </svg>
    </div>

    {{!-- grape sort france list --}}
    <ul class="grape-sort__list grape-sort__list--france">
      <li class="grape-sort__item grape-sort__item--france">

        <div class="article__info-box article__info-box--chardonnay" number="11">
          <p class="article__info-text">Chardonnay</p>
          <svg class="article__info-item-icon">
            <use href="./images/sprite.svg#icon-grape-chardonnay"></use>
          </svg>
        </div>

      </li>

      <li class="grape-sort__item grape-sort__item--france">

        <div class="article__info-box article__info-box--cabernet" number="12">
          <p class="article__info-text">Cabernet</p>
          <svg class="article__info-item-icon">
            <use href="./images/sprite.svg#icon-grape-cabernet"></use>
          </svg>
        </div>

      </li>

      <li class="grape-sort__item grape-sort__item--france">

        <div class="article__info-box article__info-box--merlot" number="13">
          <p class="article__info-text">Merlot</p>
          <svg class="article__info-item-icon">
            <use href="./images/sprite.svg#icon-grape-merlot"></use>
          </svg>
        </div>

      </li>
    </ul>

  </li>
</ul>