<ul class="country__info-list">

  {{!-- FRANCE --}}
  <li class="country__info-item" title="France">
    <div class="country__info-box">
      <svg class="country__info-icon">
        <use href="./images/sprite.svg#icon-france-outline"></use>
      </svg>
      <svg class="country__info-icon-deco">
        <use href="./images/sprite.svg#icon-france-outline-deco"></use>
      </svg>

      <ul class="country__grape-list">
        <li class="country__grape-item">
          <h3 class="country__grape-title country__grape-title--france-first">Chardonnay</h3>
        </li>
        <li class="country__grape-item">
          <h3 class="country__grape-title country__grape-title--france-second">Cabernet Sauvignon</h3>
        </li>
        <li class="country__grape-item">
          <h3 class="country__grape-title country__grape-title--france-last">Merlot</h3>
        </li>
      </ul>

      <h3 class="country__box-title country__box-title--france">France</h3>
    </div>
  </li>

  {{!-- GERMANY --}}
  <li class="country__info-item country__info-item--germany" title="Germany">
    <div class="country__info-box country__info-box--germany">
      <svg class="country__info-icon">
        <use href="./images/sprite.svg#icon-germany-outline"></use>
      </svg>
      <svg class="country__info-icon-deco">
        <use href="./images/sprite.svg#icon-germany-outline-deco"></use>
      </svg>

      <ul class="country__grape-list">
        <li class="country__grape-item">
          <h3 class="country__grape-title country__grape-title--germany-first">Riesling</h3>
        </li>
        <li class="country__grape-item">
          <h3 class="country__grape-title country__grape-title--germany-second">Pinot Noir</h3>
        </li>
        <li class="country__grape-item">
          <h3 class="country__grape-title country__grape-title--germany-last">Gewürztraminer</h3>
        </li>
      </ul>

      <h3 class="country__box-title country__box-title--germany">Germany</h3>

    </div>
  </li>



  {{!-- ITALY --}}
  <li class="country__info-item" title="Italy">
    <div class="country__info-box">
      <svg class="country__info-icon">
        <use href="./images/sprite.svg#icon-italy-outline"></use>
      </svg>
      <svg class="country__info-icon-deco">
        <use href="./images/sprite.svg#icon-italy-outline-deco"></use>
      </svg>

      <ul class="country__grape-list">
        <li class="country__grape-item">
          <h3 class="country__grape-title country__grape-title--italy-first">Sangiovese</h3>
        </li>
        <li class="country__grape-item">
          <h3 class="country__grape-title country__grape-title--italy-second">Nebbiolo</h3>
        </li>
        <li class="country__grape-item">
          <h3 class="country__grape-title country__grape-title--italy-last">Montepulciano</h3>
        </li>
      </ul>

      <h3 class="country__box-title country__box-title--italy">Italy</h3>

    </div>
  </li>
</ul>