{{!-- order history title --}}
<section class="order__history-title">
  <div class="container">
    <div class="orders__history-title-box">
      <h1 class="orders__history-title">Purchase History</h1>
      <svg class="orders__history-title-icon">
        <use href="./images/sprite.svg#icon-cart-story"></use>
      </svg>
    </div>
  </div>
</section>