<section class="order__history-list-section">
  <div class="container">
    <ul class="order__history-list">

    </ul>

    <button type="button" class="history__order-btn-load-more">
      <p class="history__cart-btn-load-more-text">Load More</p>
      <svg class="history__cart-btn-load-more-icon">
        <use href="./images/sprite.svg#icon-loading"></use>
      </svg>
    </button>

  </div>
</section>