{{!-- orders title section --}}
<section class="orders__title-section">
  <div class="container">

    <div class="orders__title-box">
      <h1 class="orders__title">Order Panel</h1>
      <svg class="orders__title-icon">
        <use href="./images/sprite.svg#icon-orders-list"></use>
      </svg>
    </div>
    
  </div>
</section>