{{!-- error if person is not a moderator or not logged in --}}
<section class="order__error">
  <div class="container">
    <div class="order__error-box">
      <h1 class="order__error-title">404 Not Found</h1>
      <svg class="order__error-icon">
        <use href="./images/sprite.svg#icon-empty-cart"></use>
      </svg>
    </div>
  </div>
</section>