
  <div class="backdrop">
    <div class="modal">
      <button class="modal__button" type="button" aria-label="btn close modal window">
        <svg width="24" height="24">
          <use href="../images/sprite.svg#icon-mobile-menu-close"></use>
        </svg>
      </button>
      <div class="modal__info"></div>
    </div>
  </div>