{{> head}}

<body>

  <div class="main-background"></div>

  {{!-- index - header/main/footer --}}
  <div class="wrapper">
    {{> main-page/header/header}}
    {{> main-page/main/main}}
    {{> footer/footer}}
  </div>

  {{{body}}}

  {{!-- modal window --}}
  {{> modal/modal}}

  {{!-- <script src="index.js" type="module"></script>
  <script src="/node_modules/handlebars/dist/handlebars.min.js"></script>
  <script src="/node_modules/notiflix/dist/notiflix-3.2.6.min.js"></script> --}}
</body>

</html>