<section class="history">
  <div class="container">

    <ul class="history__list"></ul>

    <button type="button" class="history__cart-btn-load-more">
      <p class="history__order-btn-load-more-text">Load More</p>
      <svg class="history__order-btn-load-more-icon">
        <use href="./images/sprite.svg#icon-loading"></use>
      </svg>
    </button>

  </div>
</section>