{{!-- title --}}
<section class="history__title">
  <div class="container">
    <div class="history__title-box">
      <h1 class="history__title-text">Purchase History</h1>
      <svg class="history__title-icon">
        <use href="./images/sprite.svg#icon-cart-story"></use>
      </svg>
    </div>
  </div>
</section>