<footer class="footer">
    <div class="container footer-container">
      <div class="footer__upper-box">
        {{!-- footer contacts/logo --}}
        {{> footer/footer-components/footer-contacts}}
        
        {{!-- socials contacts --}}
        {{> footer/footer-components/footer-social-contacts}}
        
        {{!-- mail list --}}
        {{> footer/footer-components/footer-mail-list}}
      </div>

      <div class="footer__bottom-box">
        
        <p class="footer__bottom-text">by</p>
        <a 
          class="footer__bottom-link" 
          href="https://github.com/A-Gulinsky" 
          target="_blank" 
          rel="noreferrer nofollow noopener"
          aria-label="link to creator's github">
          A.Gulinsky
        </a>

      </div>

    </div>
</footer>