<header class="header">
  <div class="container header__container">
    {{> main-page/header/header-components/logo}}
    {{> main-page/header/header-components/search}}
    {{> main-page/header/header-components/contacts}}
    {{> main-page/header/header-components/entrance}}

    {{> main-page/header/header-components/mobile-menu}}
  </div>
</header>