<div class="footer__social-contacts">
  <h2 class="footer__social-contacts-title">Follow Us</h2>
  
  {{!-- social footer list --}}
  <ul class="footer__social-contacts-list">

    <li class="footer__social-contacts-item">
      <a class="footer__social-contacts-link" href="https://www.instagram.com/a.gulinsky/" target="_blank" rel="noreferrer, nofollow, noopener" aria-label="instagram link">
        <svg class="footer__social-contacts-icon">
          <use href="../images/sprite.svg#icon-social-instagram"></use>
        </svg>
      </a>
    </li>

    <li class="footer__social-contacts-item">
      <a class="footer__social-contacts-link" href="https://github.com/A-Gulinsky" target="_blank" rel="noreferrer, nofollow, noopener" aria-label="facebook link">
        <svg class="footer__social-contacts-icon">
          <use href="../images/sprite.svg#icon-social-facebook"></use>
        </svg>
      </a>
    </li>
    
    <li class="footer__social-contacts-item">
      <a class="footer__social-contacts-link" href="https://github.com/A-Gulinsky" target="_blank" rel="noreferrer, nofollow, noopener" aria-label="twitter link">
        <svg class="footer__social-contacts-icon">
          <use href="../images/sprite.svg#icon-social-twitter"></use>
        </svg>
      </a>
    </li>
    
    <li class="footer__social-contacts-item">
      <a class="footer__social-contacts-link" href="https://github.com/A-Gulinsky" target="_blank" rel="noreferrer, nofollow, noopener" aria-label="github link">
        <svg class="footer__social-contacts-icon">
          <use href="../images/sprite.svg#icon-social-github"></use>
        </svg>
      </a>
    </li>

  </ul>
</div>