<div class="footer__newsletter">
  <h2 class="footer__newsletter-title">Subscribe to Newsletter</h2>

  {{!-- form subscribe to newsletter --}}
  <form class="footer__newsletter-form">
    <input class="footer__newsletter-input" type="email" placeholder="E-mail" aria-label="write your email">
    <button class="footer__newsletter-btn" aria-label="accept subscribe">
      <p class="footer__newsletter-text">Subscribe</p>
      <svg class="footer__newsletter-icon">
        <use href="./images/sprite.svg#icon-loading"></use>
      </svg>
    </button>
  </form>
</div>