<section class="article">
  <div class="container article__container">
    
    <div class="article__box">
      <h2 class="article__title">Do you want to know more about the world of wine?</h2>

      <ul class="article__list">

        <li class="article__item">
          <div class="article__item-box">
            <div class="article__description-box">
              <h3 class="article__description-title" >Grape Varieties</h3>
              <svg class="article__description-icon">
                <use href="./images/sprite.svg#icon-grapes-varieties"></use>
              </svg>
            </div>
          </div>
        </li>

        <li class="article__item">
          <div class="article__item-box">
            <div class="article__description-box">
              <h3 class="article__description-title">How to choose wine?</h3>
              <svg class="article__description-icon">
                <use href="./images/sprite.svg#icon-empty-cart"></use>
              </svg>
            </div>
          </div>
        </li>

        <li class="article__item">
          <div class="article__item-box">
            <div class="article__description-box">
              <h3 class="article__description-title">Country of origin</h3>
              <svg class="article__description-icon">
                <use href="./images/sprite.svg#icon-world"></use>
              </svg>
            </div>
          </div>
        </li>

      </ul>

      <div class="article__btn-box">
        <p class="article__btn-text">Click here</p>
        <a href="/articles" class="article__link" aria-label="article page">Articles</a>
      </div>
    </div>

  </div>
</section>