<div class="backdrop">
  <div class="modal">

    {{!-- btn modal close --}}
    <button class="modal__button" type="button" aria-label="button close modal window">
      <svg width="24" height="24">
        <use href="../images/sprite.svg#icon-mobile-menu-close"></use>
      </svg>
    </button>

    {{!-- modal render --}}
    <div class="modal__info"></div>
  </div>
</div>